<form class="mx-4" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-input mb-2">
    <input
      type="email"
      id="email"
      aria-describedby="emailHelp"
      autocomplete="off"
      formControlName="email"
      placeholder="Email address"
      required
      [ngClass]="{
        'is-invalid': email.invalid && (email.dirty || email.touched),
        'is-valid': email.valid && (email.dirty || email.touched)
      }"
    />
    <label for="email" class="form-label">Email address</label>
  </div>
  <div
    class="validation-messages"
    *ngIf="email.invalid && (email.dirty || email.touched)"
  >
    <small
      *ngIf="
        email.invalid && (email.dirty || email.touched) && email.errors?.['required']
      "
      class="text-danger"
    >
      Email is required
    </small>
    <small
      *ngIf="
        email.invalid && (email.dirty || email.touched) && email.errors?.['email']
      "
      class="text-danger"
    >
      Email must be a valid email address
    </small>
  </div>
  <div class="d-flex justify-content-end align-items-center mt-5">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="forgotPasswordForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
